---
import FunFactList from '../components/FunFactList.jsx'
import Header from '../components/Header.svelte'

let title = 'Astro: The Cool Parts';

const dataUrl = 'https://raw.githack.com/seancdavis/astro-the-cool-parts/77d3b5dd2ce2253c33d50fc91a21875f90a8ced5/content/fun-facts.json'
const response = await fetch(dataUrl);
const facts = await response.json();

---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
      main {
        margin: 0 auto;
        max-width: 42rem;
      }
    </style>
  </head>
  <body>
    <Header />

    <main>
      <FunFactList facts={facts} />
    </main>
  </body>
</html>
